@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Mali&display=swap");

:root {
  --mainDark: #242325;
  --mainGreen: #61e786;
  --mainWhite: #ffffff;
  --mainGrey: #eeeeee ;
}

/* Global Start*/
::-webkit-scrollbar {
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Mali", cursive;
  background: var(--mainWhite);
  color: var(--mainDark);
}

.global-btn {
  color: var(--mainGreen);
  border: 0.1rem solid var(--mainGreen);
  background: transparent;
}

.global-btn:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.text-green {
  color: var(--mainGreen);
}

.text-slant {
  font-family: "Caveat", cursive;
}

.arrow-icons{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card-image{
    position: relative;
}

.arrow-icon-left, 
.arrow-icon-right {
  padding: 0.5rem;
  display: inline-block;
}
.arrow-icon-left {
  background: var(--mainDark);
  color: var(--mainWhite);
}
.arrow-icon-right {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.title-underline {
  max-width: 12rem;
  min-height: 0.3rem;
  margin: 0 auto;
  border-radius: 2rem;
  position: relative;
}

.title-underline-center {
    background: var(--mainGreen);
    position: absolute;
    min-height: 1rem;
    min-width: 10%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.blockquote {
  border-left: 0.5rem solid var(--mainGreen);
  text-align: right;
}
/* Global End*/

/* loader start  */
#loaders {
  max-width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--mainGreen);
  width: 120px;
  height: 120px;
  /* -webkit-animation: spin 2s linear infinite; */
  /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* loader end  */

/* header start */
#header .header-logo{
    /* max-width: 75px; */
    width: 75px;
    /* border: 1px solid red; */
}

.phone-icon {
  color: var(--mainGreen);
  border: 0.1rem solid var(--mainGreen);
  padding: 0.5rem;
  border-radius: 50%;
}
/* header end */

/* banner start */
#banner .banner-left{
    background-color: var(--mainGrey);
    min-height: calc(100vh - 101px);
    position: relative;
}

#banner .banner-left-bottom{
    background-color: var(--mainGreen);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#banner .banner-right {
  min-height: calc(100vh - 101px);
  background: url(../images/bannerBcg.jpeg) center/cover no-repeat fixed;
  position: relative;
}

#banner .banner-right-bottom {
  background-color: var(--mainDark);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 88px;
  display: flex;
  align-items: center;
}
/* banner end */

/* about us start */


/* about us end */
/* featured start */
#featured{
    background-color: var(--mainGrey);
}

#featured .card-row{
    /* min-width: 1200px; */
}
/* featured end */

/* service start  */
#service{
  /* background-color: var(--mainGrey); */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bannerBcg.jpeg) center/cover no-repeat fixed;
    min-height: 100vh
}

#service .img-container{
  position: relative;
  /* border: 1px solid red; */
}

.services-info-text {
  color: var(--mainWhite);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainGreen);
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
}
.services-info-text:hover {
  color: var(--mainDark);
  text-decoration: none;
}

#service .service-icon {
  /* border: 0.1rem solid var(--mainGreen); */
  color: var(--mainGreen);
  font-size: 2rem;
  /* padding: 0.5rem; */
  /* margin-right: 1rem; */
  transition: all 0.6s ease-in-out;
}

#service .service-icon:hover {
  /* background: var(--mainGreen); */
  color: var(--mainGrey);
}

#service .service-info>a:hover{
  color: var(--mainWhite);
  text-decoration: none;
}
/* service end  */

/* gallery start  */
#gallery{
  background-color: var(--mainDark);
}

#gallery .gallery-image-con{
  position: relative;
  transition: all 1s linear;
  overflow: hidden;
}

#gallery .gallery-image-con:hover{
  background: rgba(0, 0, 0, 0.8);
}

#gallery .gallery-image {
  transition: all 0.5s linear;
}
#gallery .gallery-image-con:hover .gallery-image {
  opacity: 0.3;
}

.gallery-info {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 100%);
  background: var(--mainGreen);
  color: var(--mainWhite);
  transition: all 0.2s linear;
}
.gallery-info:hover {
  text-decoration: none;
  color: var(--mainDark);
  background: var(--mainWhite);
}

.gallery-image-con:hover .gallery-info {
  transform: translate(-50%, 0);
}

.gallery-icon {
  position: absolute;
  color: var(--mainWhite);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.3s linear;
  cursor: pointer;
}
.gallery-image-con:hover .gallery-icon {
  opacity: 1;
}
/* gallery end  */

/* tour start  */
#tour {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bannerBcg.jpeg) center/cover no-repeat fixed;
}
#tour .tour-icon {
  color: var(--mainGreen);
  background-color: var(--mainWhite);
  margin-bottom: 1rem;
  padding: 0.75rem 0.75rem 0.75rem 0.95rem;
  border-radius: 30%;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s linear;
}

#tour .tour-icon:hover {
  background: var(--mainGreen);
  color: var(--mainDark);
}
/* tour end  */

/* newsletter start  */
#newsletter {
  background: var(--mainGreen);
  color: var(--mainWhite);
}
.newsletter-btn {
  background: transparent;
  border: 0.1rem solid var(--mainWhite);
  color: var(--mainWhite);
}
.newsletter-btn:hover {
  background: var(--mainWhite);
  color: var(--mainGreen);
}
/* newsletter end  */

/* footer start  */
#footer{
  background-color: var(--mainDark);
}
/* footer end  */